<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
	<head>
		<meta charset="UTF-8">
		<title>index</title>
		<th:block layout:fragment="script">
			<script th:inline="javascript">
				function deleteBoardFile(fileSeq) {
					$.ajax({
						url: '/board/deleteBoardFile',
						type: 'post',
						data: {
								"boardSeq" : $("input[name='boardSeq']").val(),
								"fileSeq" : fileSeq
							  },
						success: function() {
							location.reload();
						},
						error: function(e) {
							console.log(e);
						}
					});
				}
				
				$(function() {
					/*<[CDATA[*/
					const loginUserId = /*[[${#authentication.principal.username}]]*/;
					const boardWriter = /*[[${board.boardWriter}]]*/;
					//const fileList = /*[[${fileList}]]*/;
					/*]]>*/
					console.log(loginUserId);
					console.log(boardWriter);
					//console.log(fileList);
					
					/*if(fileList !== null) {
						$("input[name='fileSeq']").val(fileList[fileList.length - 1].fileSeq + 1);
					} else {
						$("input[name='fileSeq']").val('1');
					}*/					
					
					if(loginUserId !== boardWriter) {
						$("#btnWrap").hide();
						$("#btnDelete").hide();
						$("#boardTitle").attr("readonly", true);
						$("#boardContent").attr("readonly", true);
					}
					
					$(".downlink").on("click", function(e) {
						e.preventDefault();
						
						const fileName = $(this).attr("href");
						window.location = "/board/fileDown?fileName=" + fileName;
					});
				});
			</script>
		</th:block>
	</head>
	<body>
		<header></header>
		<div layout:fragment="content" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
			<h3>게시글 상세</h3>
			<form action="/board/updateBoard" method="post" enctype="multipart/form-data">
				<input type="hidden" name="boardSeq" th:value="${board.boardSeq}">
				<!--<input type="hidden" name="fileSeq">-->
				<table border="1" style="border-collapse: collapse;">
					<tr>
						<td style="background: orange; width: 70px">
							제목
						</td>
						<td style="text-align: left">
							<input type="text" name="boardTitle" id="boardTitle" th:value="${board.boardTitle}">
						</td>
					</tr>
					<tr>
						<td style="background: orange;">
							작성자
						</td>
						<td style="text-align: left">
							<input type="text" name="boardWriter" id="boardWriter" th:value="${board.boardWriter}" readonly>
						</td>
					</tr>
					<tr>
						<td style="background: orange;">
							내용
						</td>
						<td style="text-align: left">
							<textarea name="boardContent" id="boardContent" cols="40" rows="10" th:text="${board.boardContent}"></textarea>
						</td>
					</tr>
					<tr>
						<td style="background: orange;">
							작성일
						</td>
						<td style="text-align: left" th:text="${#temporals.format(board.boardRegdate, 'yyyy-MM-dd')}">
							
						</td>
					</tr>
					<tr>
						<td style="background: orange;">
							조회수
						</td>
						<td style="text-align: left" th:text="${board.boardCnt}">
							
						</td>
					</tr>
					<tr>
						<td style="background: orange; width: 70px;">
							첨부파일
						</td>
						<td>
							<div th:if="${fileList ne null}" th:each="file : ${fileList}" th:remove="tag">
								<a class="downlink" th:id="${file.fileSeq}" th:href="${file.fileName}" th:text="${file.originalFileName}"></a>
								<button type="button" th:onclick="'deleteBoardFile('+ ${file.fileSeq} +')'">삭제</button>
								<!--<img th:src="@{/upload/} + ${file.fileName}">-->
								<br/>
							</div>
						</td>
					</tr>
					<tr>
						<td style="background: orange; width: 70px;">
							업로드
						</td>
						<td align="left">
							<input type="file" name="uploadFiles" multiple="multiple">
						</td>
					</tr>
					<tr id="btnWrap">
						<td colspan="2" align="center">
							<button type="submit" id="btnUpdate">수정</button>
						</td>
					</tr>
				</table>
			</form>
			<hr/>
			<a href="/board/insertBoard">글 등록</a>
			<a id="btnDelete" th:href="@{/board/deleteBoard/{boardSeq} (boardSeq=${board.boardSeq})}">글 삭제</a>
			<a href="/board/getBoardList">글 목록</a>
		</div>
		<footer></footer>
	</body>
</html>